.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

application/config/database.php
application/config/config.php

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
phpstorm.php
uploads/ImageExpediente/*.png
uploads/ImageExpediente/*.jpg
uploads/ResolucioExpediente/*.docx
uploads/ResolucioExpediente/*.pdf
*.xlsx
*.pdf
*.jpg
.phpintel/e8af2371691bec21b5f9f172783ebe98
.phpintel/13958848d3e7bb049571d9138fa9f8a7
