@charset "UTF-8";
/* CSS Document */
img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
    font-size: 1.5em;
  border-width: 0px;
 border-style: solid;
  border-color:#7fabc5;
}